*{
  padding: 0px;
  margin: 0px;
}

body{
  font-size: large;
    background-color: #DFC44C;
    font-family: Arial, Helvetica, sans-serif;
}
#col{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

#userpoint,#botpoint{
  
  font-family: "Anton", sans-serif;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;

}
#botpoint{
  margin: 20px 0px;
  
}

h1{
  
  font-size: 26px;
}
#container {
  margin-top: 50px;
  padding: 15px 15px;
  width: 330px;
  height: auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 1) 1px 1px 0px, rgb(0, 0, 0) 10px 12px 0px 0px;
}




#buttons1{
  margin: 10px 10px;
}
#result{
  font-size: 20px;
  font-family: 'Lucida Sans',sans-serif;
  text-align: center;
  margin-bottom: 20px;
  

}

button{

  border-radius: 30px;
  border: 2px solid white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  height: 7em;
  /* height: 70px; */
  width: 180px;
  margin: 18px 18px;
}
button:hover{
  background-color: #f1ce31;
  color: white;
}
